# ===== Python 기본 =====
__pycache__/
*.py[cod]
*$py.class
*.so

# ===== 가상환경 =====
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# ===== OS별 무시 =====
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# ===== IDE =====
# VS Code
.vscode/
.history/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# ===== 로그, 빌드, 테스트 =====
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd

build/
dist/
.eggs/
*.egg-info/
*.egg
htmlcov/
.tox/
.coverage*
.pytest_cache/
.hypothesis/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

# ===== 프로젝트 전용 =====

# 📁 naver_img 내부 데이터 & 결과물 제외
/naver_img/*.csv
/naver_img/imgs/


*_data/